{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur le BackOffice de Treasure Explorer</h1>
    </br>
    <p>Utilisez les onglets de la barre de navigation pour accéder aux différents éléments du site afin de pouvoir les modifier.</p>
{% endblock %}
